.container{
	position: fixed;
	left: 500px;
	top: 200px;
	background-color: rgba(0, 0, 0, .5);
}

a{
	color:white;
	font-family: sans-serif;
}

.parent {
	dispay: flex;
	flex-direction: column;
}

/* stack left navigation*/
.header-nav-inner
flex-direction: column;
display: flex;
}

.container-1{
	position: fixed;
	left: 500px;
	top: 300px;
	background-color: rgba(0, 0, 0, .5);