.container{
	position: fixed;
	left: 500px;
	top: 500px;
	background-color: rgba(0, 0, 0, .5);
}

a{
	color:white;
	font-family: sans-serif;
}

a {
	display: block;
}

.parent {
	dispay: flex;
	flex-direction: column;
}
