/* Base styles */
body {
  margin: 0;
  padding: 0;
}

.responsive-image {
  width: 100%;
  height: 100vh; /* Fill full viewport height */
  background-size: cover;
  background-position: center;
}

/* Default image for small (mobile) */
.responsive-image {
  background-image: url('https://i.etsystatic.com/36003685/r/il/f11a78/5735657951/il_1588xN.5735657951_llti.jpg'); /* Replace with your mobile image */
}

/* Medium screens (tablet) */
@media (min-width: 600px) {
  .responsive-image {
    background-image: url('https://th.bing.com/th/id/R.c2eecf14ce18e4738984bd14b2c240b1?rik=a5olF65nQAhCLQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-lt1jJFrQmmA%2fUMoGu6MUF0I%2fAAAAAAAAALY%2fS6Tho7e1glA%2fs1600%2fcocoa_0350.jpg&ehk=lDLuJ8RKSBjFp3%2blZdFASXEm%2ff2UU1GnWIqjz4Yonmc%3d&risl=&pid=ImgRaw&r=0'); /* Replace with your tablet image */
  }
}

/* Large screens (desktop) */
@media (min-width: 1024px) {
  .responsive-image {
    background-image: url('https://www.nlfoodpartnership.com/media/images/cocoa_man_and_woman.width-1200.jpg'); /* Replace with your desktop image */
  }
}
