/* Remove default margin and make body full height */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* Make image fit the page */
.full-page-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
