.circle{
width: 200px;	
height: 200px;
background-color: red;
border-radius: 100%;
transition: background-color 3s ease-in-out 1s, border-radius 3s ease 0s;
}

.circle:active{
background-color: blue;
border-radius: 0%;
}

.blob{
	animation-name: square2circle;
	animation-duration: 5s;
	animation-timing-fucntion: cubic-bezier (0.100, 0.400, 0.745);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: forward;
	animation-fill-modes: forwards;
	width: 500px;
	height: 500px;
	transform: translate(10px);
}